@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SchoolSafeLittleOne";
  src: url("/fonts/TTHakgyoansimKkokkomaR.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
